{
  "openapi": "3.0.0",
  "info":
    {
      "title": "ABC Supply - Connect Partners API",
      "version": "1.0",
      "description": "Description goes here...",
    },
  "servers": [{ "url": "https://api.abcsupply.com/connectpartners/v1" }],
  "tags":
    [
      {
        "name": "Products",
        "description": "Everything about your Products",
        "externalDocs":
          { "description": "Find out more", "url": "http://www.abcsupply.com" },
      },
      {
        "name": "Customer Accounts",
        "description": "Everything about your Products",
        "externalDocs":
          { "description": "Find out more", "url": "http://www.abcsupply.com" },
      },
      {
        "name": "Geography",
        "description": "Everything about your Products",
        "externalDocs":
          { "description": "Find out more", "url": "http://www.abcsupply.com" },
      },
    ],
  "paths":
    {
      "/items":
        {
          "get":
            {
              "tags": ["Products"],
              "summary": "Returns List of Products",
              "description": "Retrives product items for ABC Connect Partners",
              "operationId": "GET_v2-items",
              "parameters":
                [
                  {
                    "$ref": "#/components/parameters/trait_client-id-required_client_id",
                  },
                  {
                    "$ref": "#/components/parameters/trait_client-id-required_client_secret",
                  },
                  {
                    "name": "storefront",
                    "in": "query",
                    "description": "Storefront",
                    "schema":
                      { "type": "array", "items": { "type": "string" } },
                  },
                  {
                    "name": "itemNumber",
                    "in": "query",
                    "description": "Exact and case insenstive search using item number",
                    "schema":
                      { "type": "array", "items": { "type": "string" } },
                  },
                  {
                    "name": "search",
                    "in": "query",
                    "description": "Wildcard and case insensitive search for the following fields - description, itemNumber",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "status",
                    "in": "query",
                    "description": "Status - active \\ inactive",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "fromUpdatedDatetimeUtc",
                    "in": "query",
                    "description": "Start date time range",
                    "schema":
                      {
                        "oneOf":
                          [
                            { "type": "string", "format": "date" },
                            { "type": "string", "format": "date-time" },
                          ],
                        "type": "string",
                      },
                  },
                  {
                    "name": "toUpdatedDatetimeUtc",
                    "in": "query",
                    "description": "End date time range",
                    "schema":
                      {
                        "oneOf":
                          [
                            { "type": "string", "format": "date" },
                            { "type": "string", "format": "date-time" },
                          ],
                        "type": "string",
                      },
                  },
                  {
                    "$ref": "#/components/parameters/trait_common-pagination-query-params_page",
                  },
                  {
                    "$ref": "#/components/parameters/trait_common-pagination-query-params_pageSize",
                  },
                ],
              "responses":
                {
                  "200":
                    {
                      "description": "Collection of SoldTo Accounts",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                {
                                  "type": "object",
                                  "properties":
                                    {
                                      "pagination":
                                        {
                                          "$ref": "#/components/schemas/Pagination",
                                        },
                                      "items":
                                        {
                                          "type": "array",
                                          "items":
                                            {
                                              "$ref": "#/components/schemas/ProductItems",
                                            },
                                        },
                                    },
                                  "required": ["pagination", "items"],
                                },
                              "examples":
                                {
                                  "example1":
                                    {
                                      "$ref": "#/components/examples/product-items-200-response-example1",
                                    },
                                  "example2":
                                    {
                                      "$ref": "#/components/examples/product-items-200-response-example2",
                                    },
                                },
                            },
                        },
                    },
                  "400":
                    {
                      "$ref": "#/components/responses/trait_common-errors_400",
                    },
                  "404":
                    {
                      "$ref": "#/components/responses/trait_common-errors_404",
                    },
                  "500":
                    {
                      "$ref": "#/components/responses/trait_common-errors_500",
                    },
                },
            },
        },
      "/soldTos":
        {
          "get":
            {
              "tags": ["Customer Accounts"],
              "responses":
                {
                  "200":
                    {
                      "description": "Collection of SoldTo Accounts",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                {
                                  "example":
                                    {
                                      "pagination":
                                        {
                                          "currentPage": 3,
                                          "pageSize": 20,
                                          "totalPages": 5,
                                          "totalItems": 100,
                                        },
                                      "soldTos":
                                        [
                                          {
                                            "name": "NVR-RYAN DIRECT: V#21284",
                                            "identifications":
                                              {
                                                "mainAccount": 23367500,
                                                "number": "23367500",
                                                "accountNumber": "23367500",
                                                "identificationCode": "23367500",
                                                "customerIdentificationCode": "742100",
                                              },
                                            "geography":
                                              {
                                                "branchNumber": "32",
                                                "branchName": "ABC #032 CHARLOTTE",
                                                "districtNumber": "847",
                                                "regionNumber": "74",
                                                "storefront": "ABC",
                                                "erpSystem": "ABCPOS",
                                              },
                                            "address":
                                              {
                                                "addressLine1": "",
                                                "addressLine2": "10706 SIKES PLACE STE 300",
                                                "addressLine3": "",
                                                "cityName": "CHARLOTTE",
                                                "stateCode": "NC",
                                                "postalCode": "28277",
                                              },
                                            "terms":
                                              {
                                                "termsCode": "N30",
                                                "termsDescription": "",
                                              },
                                            "creditRating":
                                              {
                                                "creditRatingCode": "M",
                                                "creditRatingDescription": "",
                                              },
                                            "billingInstructions":
                                              {
                                                "billingInstructionsTypeCode": "N",
                                                "billingInstructionsDescription": "Do not print on Invoice",
                                              },
                                            "sellable": true,
                                            "telephone": "8759887",
                                            "email": "",
                                            "salesPersonNumber": "032H",
                                            "salesPersonName": "SEAN SEVERSON #358",
                                            "lastSalesDate": "2020-04-01",
                                            "firstSalesDate": "2003-04-01",
                                            "customerClass": "Tier 1 LS Commercial Roofer",
                                            "status": "Active",
                                            "deactivationDate": null,
                                            "lastUpdatedDatetimeUtc": "2018-06-14T13:08:59Z",
                                            "createdDatetimeUtc": "2021-02-23T07:04:58.590Z",
                                            "communications":
                                              [
                                                {
                                                  "contactFunctionCode": "AP",
                                                  "telephone": "4053387663",
                                                  "email": "OFFICE@ROOFWITHCAPSTONE.COM",
                                                },
                                                {
                                                  "contactFunctionCode": "DC",
                                                  "email": "office@roofwithcapstone.com",
                                                },
                                              ],
                                            "billingPreferences":
                                              [
                                                {
                                                  "type": "invoice",
                                                  "preferredMethod": "N",
                                                  "preferredMethodDescription": "None",
                                                  "email": "",
                                                  "fax": "",
                                                  "priority": 1,
                                                },
                                              ],
                                            "shipTos":
                                              [
                                                {
                                                  "name": "NVR-RYAN DIRECT: V#21284",
                                                  "identifications":
                                                    {
                                                      "number": "380639",
                                                      "identificationCode": "380639",
                                                      "jobNumber": 380639,
                                                      "mainAccount": 23367500,
                                                      "accountNumber": "380639",
                                                    },
                                                  "geography":
                                                    {
                                                      "branchNumber": "499",
                                                      "branchName": "ABC #499 STUART",
                                                      "districtNumber": "847",
                                                      "regionNumber": "74",
                                                      "storefront": "ABC",
                                                      "erpSystem": "ABCPOS",
                                                    },
                                                  "address":
                                                    {
                                                      "addressLine1": "SEF SOUTH FLORIDA",
                                                      "addressLine2": "1450 CENTREPARK BLVD #340",
                                                      "addressLine3": "",
                                                      "cityName": "WEST PALM BEACH",
                                                      "stateCode": "FL",
                                                      "postalCode": "33401",
                                                    },
                                                  "telephone": "4447223",
                                                  "email": "",
                                                  "terms":
                                                    {
                                                      "termsCode": "N30",
                                                      "termsDescription": "",
                                                    },
                                                  "creditRating":
                                                    {
                                                      "creditRatingCode": "X",
                                                      "creditRatingDescription": "",
                                                    },
                                                  "billingInstructions":
                                                    {
                                                      "billingInstructionsTypeCode": "N",
                                                      "billingInstructionsDescription": "Do not print on Invoice",
                                                    },
                                                  "sellable": true,
                                                  "status": "Active",
                                                  "salesPersonNumber": "032H",
                                                  "salesPersonName": "SEAN SEVERSON #358",
                                                  "lastUpdatedDatetimeUtc": "2020-02-20T06:56:13Z",
                                                  "createdDatetimeUtc": "2021-02-23T07:04:58.590Z",
                                                  "orderPreferences":
                                                    {
                                                      "orderAcknowledgement": "N",
                                                      "poAcknowledgement": "N",
                                                      "deliveryAcknowledgement": "N",
                                                      "proofOfDelivery": "N",
                                                    },
                                                  "comments":
                                                    [
                                                      {
                                                        "typeCode": "BT",
                                                        "message": "10-27-15- NSF CK#2509 FOR $7127.65. LG",
                                                      },
                                                    ],
                                                  "tax":
                                                    {
                                                      "exemptCode": "T",
                                                      "taxQualifierCodes":
                                                        [
                                                          {
                                                            "locationTypeCode": "ST",
                                                            "locationCode": "OK",
                                                          },
                                                        ],
                                                    },
                                                  "communications":
                                                    [
                                                      {
                                                        "contactFunctionCode": "AP",
                                                        "telephone": "4053387663",
                                                        "email": "OFFICE@ROOFWITHCAPSTONE.COM",
                                                      },
                                                      {
                                                        "contactFunctionCode": "DC",
                                                        "email": "office@roofwithcapstone.com",
                                                      },
                                                    ],
                                                  "billTo":
                                                    {
                                                      "name": "NVR-RYAN DIRECT: V#21284",
                                                      "identifications":
                                                        {
                                                          "accountNumber": "380639",
                                                          "number": "380639",
                                                          "identificationCode": "380639",
                                                          "jobNumber": 380639,
                                                          "mainAccount": 23367500,
                                                        },
                                                      "address":
                                                        {
                                                          "addressLine1": "SEF SOUTH FLORIDA",
                                                          "addressLine2": "1450 CENTREPARK BLVD #340",
                                                          "addressLine3": "",
                                                          "cityName": "WEST PALM BEACH",
                                                          "stateCode": "FL",
                                                          "postalCode": "33401",
                                                        },
                                                      "telephone": "4447223",
                                                      "email": "",
                                                      "billingPreferences":
                                                        [
                                                          {
                                                            "type": "invoice",
                                                            "preferredMethod": "E",
                                                            "preferredMethodDescription": "Fax",
                                                            "email": "office@example.com",
                                                            "fax": "1222331353",
                                                            "priority": 1,
                                                          },
                                                        ],
                                                    },
                                                },
                                              ],
                                          },
                                        ],
                                    },
                                  "type": "object",
                                  "properties":
                                    {
                                      "pagination":
                                        {
                                          "$ref": "#/components/schemas/Pagination",
                                        },
                                      "soldTos":
                                        {
                                          "type": "array",
                                          "items":
                                            {
                                              "$ref": "#/components/schemas/SoldTo",
                                            },
                                        },
                                    },
                                  "required": ["pagination", "soldTos"],
                                },
                            },
                        },
                    },
                  "400":
                    {
                      "$ref": "#/components/responses/trait_common-errors_400",
                    },
                  "404":
                    {
                      "$ref": "#/components/responses/trait_common-errors_404",
                    },
                  "500":
                    {
                      "$ref": "#/components/responses/trait_common-errors_500",
                    },
                },
              "description": "This endpoint exposes the information related to a customer's sold to account as well as their shipping information (ship to).",
              "operationId": "GET_soldTos",
              "summary": "Returns List of Customer Sold-To Accounts",
              "parameters":
                [
                  {
                    "$ref": "#/components/parameters/trait_client-id-required_client_id",
                  },
                  {
                    "$ref": "#/components/parameters/trait_client-id-required_client_secret",
                  },
                  {
                    "name": "lastUpdatedDatetimeUtc",
                    "in": "query",
                    "description": "Use this query parameter to get a list of soldTo accounts that have been last updated since a specific date time.",
                    "schema": { "type": "string", "format": "date-time" },
                  },
                  {
                    "name": "branchNumber",
                    "in": "query",
                    "description": "Use this parameter to filter soldTos that belong to a particular branchNumber. Branch Number is used to avoid collision between L&W and ABC and POS and Agility **Value should match geography api return value.",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "identificationCode",
                    "in": "query",
                    "description": "Use this parameter to retrieve a soldTo by its unique identifier. One of identificationCode | soldToName | searchQuery is required.",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "soldToName",
                    "in": "query",
                    "description": "Use this parameter to filter soldTos by their name, this supports partial searches. One of identificationCode | soldToName | searchQuery is required.",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "searchCriteria",
                    "in": "query",
                    "description": "Use this parameter as a general search field, this field can search a soldTos name, identificationCode, or phone number. One of identificationCode | soldToName | searchQuery is required.",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "districtNumber",
                    "in": "query",
                    "description": "Use this parameter to filter soldTos by the district that they belong to.",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "embed",
                    "in": "query",
                    "description": "This parameter determines whether the soldTos in the response will include their associated shipTo, billTo, or billingPreferences properties. The input is in string CSV format. If nothing is provided it defaults to not include shipTo or billTo in response payload.",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "status",
                    "in": "query",
                    "description": "Flag to filter accounts by whether they are active or inactive. This API returns active accounts when no status is given.",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "sellable",
                    "in": "query",
                    "description": "Flag to filter accounts by whether they should be sold to or not. This API defaults to sellable true if not provided.",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "storefront",
                    "in": "query",
                    "description": "Flag to filter accounts by the storefront that it belongs to.",
                    "schema":
                      {
                        "enum": ["abc", "tci", "bradco", "norandex"],
                        "type": "string",
                      },
                  },
                  {
                    "$ref": "#/components/parameters/trait_common-pagination-query-params_page",
                  },
                  {
                    "$ref": "#/components/parameters/trait_common-pagination-query-params_pageSize",
                  },
                ],
            },
        },
      "/shipTos":
        {
          "get":
            {
              "tags": ["Customer Accounts"],
              "responses":
                {
                  "200":
                    {
                      "description": "Sold To and a collection of SoldTo Accounts",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                {
                                  "example":
                                    {
                                      "pagination":
                                        {
                                          "currentPage": 3,
                                          "pageSize": 20,
                                          "totalPages": 5,
                                          "totalItems": 100,
                                        },
                                      "shipTos":
                                        [
                                          {
                                            "name": "NVR-RYAN DIRECT: V#21284",
                                            "identifications":
                                              {
                                                "number": "380639",
                                                "identificationCode": "380639",
                                                "jobNumber": 380639,
                                                "mainAccount": 23367500,
                                                "accountNumber": "380639",
                                              },
                                            "geography":
                                              {
                                                "branchNumber": "499",
                                                "branchName": "ABC #499 STUART",
                                                "districtNumber": "847",
                                                "regionNumber": "74",
                                                "storefront": "ABC",
                                                "erpSystem": "ABCPOS",
                                              },
                                            "address":
                                              {
                                                "addressLine1": "SEF SOUTH FLORIDA",
                                                "addressLine2": "1450 CENTREPARK BLVD #340",
                                                "addressLine3": "",
                                                "cityName": "WEST PALM BEACH",
                                                "stateCode": "FL",
                                                "postalCode": "33401",
                                              },
                                            "telephone": "4447223",
                                            "email": "",
                                            "terms":
                                              {
                                                "termsCode": "N30",
                                                "termsDescription": "",
                                              },
                                            "creditRating":
                                              {
                                                "creditRatingCode": "X",
                                                "creditRatingDescription": "",
                                              },
                                            "billingInstructions":
                                              {
                                                "billingInstructionsTypeCode": "N",
                                                "billingInstructionsDescription": "Do not print on Invoice",
                                              },
                                            "sellable": true,
                                            "status": "Active",
                                            "salesPersonNumber": "032H",
                                            "salesPersonName": "SEAN SEVERSON #358",
                                            "lastUpdatedDatetimeUtc": "2020-02-20T06:56:13Z",
                                            "createdDatetimeUtc": "2021-02-23T07:04:58.590Z",
                                            "orderPreferences":
                                              {
                                                "orderAcknowledgement": "N",
                                                "poAcknowledgement": "N",
                                                "deliveryAcknowledgement": "N",
                                                "proofOfDelivery": "N",
                                              },
                                            "comments":
                                              [
                                                {
                                                  "typeCode": "BT",
                                                  "message": "10-27-15- NSF CK#2509 FOR $7127.65. LG",
                                                },
                                              ],
                                            "tax":
                                              {
                                                "exemptCode": "T",
                                                "taxQualifierCodes":
                                                  [
                                                    {
                                                      "locationTypeCode": "ST",
                                                      "locationCode": "OK",
                                                    },
                                                  ],
                                              },
                                            "communications":
                                              [
                                                {
                                                  "contactFunctionCode": "AP",
                                                  "telephone": "4053387663",
                                                  "email": "OFFICE@ROOFWITHCAPSTONE.COM",
                                                },
                                                {
                                                  "contactFunctionCode": "DC",
                                                  "email": "office@roofwithcapstone.com",
                                                },
                                              ],
                                            "billTo":
                                              {
                                                "name": "NVR-RYAN DIRECT: V#21284",
                                                "identifications":
                                                  {
                                                    "accountNumber": "380639",
                                                    "number": "380639",
                                                    "identificationCode": "380639",
                                                    "jobNumber": 380639,
                                                    "mainAccount": 23367500,
                                                  },
                                                "address":
                                                  {
                                                    "addressLine1": "SEF SOUTH FLORIDA",
                                                    "addressLine2": "1450 CENTREPARK BLVD #340",
                                                    "addressLine3": "",
                                                    "cityName": "WEST PALM BEACH",
                                                    "stateCode": "FL",
                                                    "postalCode": "33401",
                                                  },
                                                "telephone": "4447223",
                                                "email": "",
                                                "billingPreferences":
                                                  [
                                                    {
                                                      "type": "invoice",
                                                      "preferredMethod": "E",
                                                      "preferredMethodDescription": "Fax",
                                                      "email": "office@example.com",
                                                      "fax": "1222331353",
                                                      "priority": 1,
                                                    },
                                                  ],
                                              },
                                          },
                                        ],
                                    },
                                  "type": "object",
                                  "properties":
                                    {
                                      "pagination":
                                        {
                                          "$ref": "#/components/schemas/Pagination",
                                        },
                                      "shipTos":
                                        {
                                          "type": "array",
                                          "items":
                                            {
                                              "$ref": "#/components/schemas/ShipTo",
                                            },
                                        },
                                    },
                                  "required": ["pagination", "shipTos"],
                                },
                            },
                        },
                    },
                  "400":
                    {
                      "$ref": "#/components/responses/trait_common-errors_400",
                    },
                  "404":
                    {
                      "$ref": "#/components/responses/trait_common-errors_404",
                    },
                  "500":
                    {
                      "$ref": "#/components/responses/trait_common-errors_500",
                    },
                },
              "description": "This endpoint exposes to whom the product will be shipped to (the ship to) and all of the relevant information related to that account (Billing preferences, address, contact information, etc.)",
              "operationId": "GET_shipTos",
              "summary": "Returns List of Customer Ship-To Accounts",
              "parameters":
                [
                  {
                    "$ref": "#/components/parameters/trait_client-id-required_client_id",
                  },
                  {
                    "$ref": "#/components/parameters/trait_client-id-required_client_secret",
                  },
                  {
                    "name": "identificationCode",
                    "in": "query",
                    "description": "Use this parameter to retrieve a soldTo by its unique identifier. Can be jobAccountNumber or soldToNumber. One of identificationCode | shipToName | searchQuery is required.",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "shipToName",
                    "in": "query",
                    "description": "Use this parameter to filter shipTos by their name, this supports partial searches. One of identificationCode | shipToName | searchQuery is required.",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "searchCriteria",
                    "in": "query",
                    "description": "Use this parameter as a general search field, this field can search a soldTos name, identificationCode, or phone number. One of identificationCode | shipToName | searchQuery is required.",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "branchNumber",
                    "in": "query",
                    "description": "Use this parameter to filter shipTos that belong to a particular branchNumber. The branch number parameter is REQUIRED if identificationCode is not sent in. If identificationCode is present, branch number is not required. Branch Number is used to avoid collision between L&W and ABC and POS and Agility.",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "districtNumber",
                    "in": "query",
                    "description": "Use this parameter to filter shipTos by the district that they belong to.",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "embed",
                    "in": "query",
                    "description": "This parameter determines whether the shipTos in the response will include their associated billTo or billingPreferences properties. The input is in string CSV format. If nothing is provided it defaults to not include billTo or billingPreferences in the response payload.",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "lastUpdatedDatetimeUtc",
                    "in": "query",
                    "description": "Use this query parameter to get a list of shipTo accounts that have been last updated since a specific date time.",
                    "schema": { "type": "string", "format": "date-time" },
                  },
                  {
                    "name": "status",
                    "in": "query",
                    "description": "Flag to filter accounts by whether they are active or inactive. This API returns active accounts when no status is given.",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "sellable",
                    "in": "query",
                    "description": "Flag to filter accounts by whether they should be sold to or not. This API defaults to sellable true if not provided.",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "storefront",
                    "in": "query",
                    "description": "Flag to filter accounts by the storefront that it belongs to.",
                    "schema":
                      {
                        "enum": ["abc", "tci", "lw", "bradco", "norandex"],
                        "type": "string",
                      },
                  },
                  {
                    "$ref": "#/components/parameters/trait_common-pagination-query-params_page",
                  },
                  {
                    "$ref": "#/components/parameters/trait_common-pagination-query-params_pageSize",
                  },
                ],
            },
        },
      "/shipTos/{shipTo}/contacts":
        {
          "get":
            {
              "tags": ["Customer Accounts"],
              "responses":
                {
                  "200":
                    {
                      "description": "ShipTo Contacts",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                {
                                  "type": "object",
                                  "properties":
                                    {
                                      "contacts":
                                        {
                                          "$ref": "#/components/schemas/Contacts",
                                        },
                                    },
                                  "required": ["contacts"],
                                },
                            },
                        },
                    },
                  "400":
                    {
                      "$ref": "#/components/responses/trait_common-errors_400",
                    },
                  "404":
                    {
                      "$ref": "#/components/responses/trait_common-errors_404",
                    },
                  "500":
                    {
                      "$ref": "#/components/responses/trait_common-errors_500",
                    },
                },
              "description": "Retrieves contact information of the Customer Ship To account.",
              "operationId": "GET_shipTos-shipTo-contacts",
              "summary": "Returns List of Customer Contacts",
              "parameters":
                [
                  {
                    "$ref": "#/components/parameters/trait_client-id-required_client_id",
                  },
                  {
                    "$ref": "#/components/parameters/trait_client-id-required_client_secret",
                  },
                  {
                    "name": "branchNumber",
                    "in": "query",
                    "required": true,
                    "description": "Branch Number to avoid collision between L&W and ABC and POS and Agility **Value should match geography api return value",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "storefront",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                  {
                    "$ref": "#/components/parameters/trait_common-pagination-query-params_page",
                  },
                  {
                    "$ref": "#/components/parameters/trait_common-pagination-query-params_pageSize",
                  },
                ],
            },
          "parameters":
            [
              {
                "name": "shipTo",
                "in": "path",
                "required": true,
                "schema": { "type": "string" },
              },
            ],
        },
      "/salesreps":
        {
          "get":
            {
              "tags": ["Customer Accounts"],
              "responses":
                {
                  "200":
                    {
                      "description": "Collection of sales representatives",
                      "content":
                        {
                          "application/json":
                            {
                              "schema":
                                {
                                  "example":
                                    {
                                      "pagination":
                                        {
                                          "currentPage": 1,
                                          "pageSize": 50,
                                          "totalPages": 1,
                                          "totalItems": 1,
                                        },
                                      "salesreps":
                                        [
                                          {
                                            "salesPersonNumber": "CA029316",
                                            "salesPersonName": "CAMERON ADAMS - #386",
                                            "telephone": "63098092392",
                                            "primaryBranchNumber": "386",
                                            "lastUpdated": "2015-12-13T14:32:15Z",
                                            "status": "active",
                                          },
                                        ],
                                    },
                                  "type": "object",
                                  "properties":
                                    {
                                      "pagination":
                                        {
                                          "$ref": "#/components/schemas/Pagination",
                                        },
                                      "salesreps":
                                        {
                                          "type": "array",
                                          "items":
                                            {
                                              "$ref": "#/components/schemas/Salesreps",
                                            },
                                        },
                                    },
                                  "required": ["pagination", "salesreps"],
                                },
                            },
                        },
                    },
                  "400":
                    {
                      "$ref": "#/components/responses/trait_common-errors_400",
                    },
                  "404":
                    {
                      "$ref": "#/components/responses/trait_common-errors_404",
                    },
                  "500":
                    {
                      "$ref": "#/components/responses/trait_common-errors_500",
                    },
                },
              "description": "This endpoint takes in an storefront, salesPersonNumber, branchNumber, lastUpdated & search query params and retrieves sales representatives information from ABCPOS",
              "operationId": "GET_salesreps",
              "summary": "Returns List of Customer Account Sales Representative",
              "parameters":
                [
                  {
                    "$ref": "#/components/parameters/trait_client-id-required_client_id",
                  },
                  {
                    "$ref": "#/components/parameters/trait_client-id-required_client_secret",
                  },
                  {
                    "name": "storefront",
                    "in": "query",
                    "description": "Storefront",
                    "schema":
                      { "type": "array", "items": { "type": "string" } },
                  },
                  {
                    "name": "salesPersonNumber",
                    "in": "query",
                    "description": "Sales person number",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "search",
                    "in": "query",
                    "description": "Search salesPersonNumber, salesPersonName or telephone. Wildcard search (at least 3 chars and return http 400 if less than 3 chars provided), case insensitive.",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "branchNumber",
                    "in": "query",
                    "description": "Primary branch number",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "lastUpdated",
                    "in": "query",
                    "description": "Use this query parameter to retrieve information of sales representatives that have been last updated since a specific date time.",
                    "schema": { "type": "string", "format": "date-time" },
                  },
                  {
                    "name": "page",
                    "in": "query",
                    "description": "Page",
                    "schema": { "type": "number" },
                  },
                  {
                    "name": "pageSize",
                    "in": "query",
                    "description": "Page size",
                    "schema": { "type": "number" },
                  },
                ],
            },
        },
      "/branches":
        {
          "get":
            {
              "tags": ["Geography"],
              "responses":
                {
                  "200":
                    {
                      "description": "All requests accepted",
                      "content":
                        {
                          "application/json":
                            {
                              "example":
                                {
                                  "pagination":
                                    {
                                      "currentPage": 2,
                                      "pageSize": 50,
                                      "totalPages": 16,
                                      "totalItems": 799,
                                    },
                                  "properties": { "userLocationNumber": "742" },
                                  "branches":
                                    [
                                      {
                                        "organizationCode": "ABC",
                                        "branchNumber": "023",
                                        "divisionCode": "ABC",
                                        "erpSystem": "ABCPOS",
                                        "regionNumber": "722",
                                        "districtNumber": "844",
                                        "MBACode": "738",
                                        "storefront": "abc",
                                        "brandName": "ABC Supply",
                                        "branchName": "ABC Supply Company",
                                        "addressType": "Office",
                                        "addressLine1": "40 Conyngham Ave",
                                        "city": "Wilkes-Barre",
                                        "state": "PA",
                                        "zip": "18702-5614",
                                        "longitude": -75.859509,
                                        "latitude": 41.253775,
                                        "timeZone": "America/New_York",
                                        "workPhone": "5708241111",
                                        "faxPhone": "5708222157",
                                        "email": "ronald.scharpnick@abcsupply.com",
                                        "status": "Active",
                                        "managerUserId": "1825",
                                        "manager": "Scharpnick, Ronald A",
                                        "managerFirstName": "Ronald",
                                        "managerLastName": "Scharpnick",
                                        "managerEmail": "ronald.scharpnick@abcsupply.com",
                                        "managerTitle": "ABC Branch Manager",
                                        "managingPartner": false,
                                        "hours":
                                          [
                                            {
                                              "type": "Branch Hours",
                                              "days": "Mon - Fri",
                                              "open": "07:00",
                                              "close": "17:00",
                                              "notes": "Closed Weekends",
                                            },
                                            {
                                              "type": "Off-season Hours (November - March)",
                                              "days": "Mon - Fri",
                                              "open": "07:00",
                                              "close": "16:00",
                                              "notes": "Closed Weekends",
                                            },
                                          ],
                                        "warehouses":
                                          [
                                            {
                                              "warehouseCode": "D23",
                                              "warehouseName": "ABC #023 DIRECT WILKES-BARRE",
                                              "addressLine1": "PROVIDE DELIVERY ADDRESS",
                                              "city": "PROVIDE CITY",
                                              "state": "TX",
                                              "zip": "76302",
                                              "stockingCode": "Y",
                                              "status": "Active",
                                              "tax":
                                                {
                                                  "taxQualifierCodes":
                                                    [
                                                      {
                                                        "locationTypeCode": "ST",
                                                        "locationCode": "PA",
                                                      },
                                                      {
                                                        "locationTypeCode": "CT",
                                                        "locationCode": "99",
                                                      },
                                                    ],
                                                },
                                            },
                                          ],
                                        "lastUpdatedTimeStamp": "2021-03-01T13:23:33.991",
                                      },
                                      {
                                        "organizationCode": "ABC",
                                        "branchNumber": "452",
                                        "divisionCode": "ABC",
                                        "erpSystem": "ABCPOS",
                                        "regionNumber": "722",
                                        "districtNumber": "838",
                                        "MBACode": "737",
                                        "storefront": "abc",
                                        "brandName": "ABC Supply",
                                        "branchName": "ABC Supply Company",
                                        "addressType": "Office",
                                        "addressLine1": "892 Middle country Rd",
                                        "city": "Saint James",
                                        "state": "NY",
                                        "zip": "11780-3218",
                                        "longitude": -73.1443,
                                        "latitude": 40.8615,
                                        "timeZone": "America/New_York",
                                        "workPhone": "6312658888",
                                        "faxPhone": "6312659548",
                                        "email": "katie.kost@abcsupply.com",
                                        "status": "Active",
                                        "managerUserId": "019766",
                                        "manager": "Kost, Katie M",
                                        "managerFirstName": "Katie",
                                        "managerLastName": "Kost",
                                        "managerEmail": "katie.kost@abcsupply.com",
                                        "managerTitle": "ABC Branch Manager",
                                        "managingPartner": true,
                                        "hours":
                                          [
                                            {
                                              "type": "Branch Hours",
                                              "days": "Mon - Fri",
                                              "open": "07:00",
                                              "close": "16:30",
                                            },
                                            {
                                              "type": "Branch Hours",
                                              "days": "Sat",
                                              "open": "07:00",
                                              "close": "11:00",
                                            },
                                            {
                                              "type": "Off-season Hours",
                                              "days": "Mon - Fri",
                                              "open": "07:00",
                                              "close": "15:30",
                                            },
                                          ],
                                        "warehouses":
                                          [
                                            {
                                              "warehouseCode": "D452",
                                              "warehouseName": "ABC #452 DIRECT SAINT JAMES",
                                              "addressLine1": "PROVIDE DELIVERY ADDRESS",
                                              "city": "PROVIDE CITY",
                                              "state": "NY",
                                              "zip": "11780",
                                              "stockingCode": "Y",
                                              "status": "Active",
                                              "tax":
                                                {
                                                  "taxQualifierCodes":
                                                    [
                                                      {
                                                        "locationTypeCode": "ST",
                                                        "locationCode": "NY",
                                                      },
                                                      {
                                                        "locationTypeCode": "CT",
                                                        "locationCode": "SU",
                                                      },
                                                    ],
                                                },
                                            },
                                            {
                                              "warehouseCode": "452",
                                              "warehouseName": "ABC #452 SAINT JAMES",
                                              "addressLine1": "892 MIDDLE COUNTRY RD",
                                              "city": "SAINT JAMES",
                                              "state": "NY",
                                              "zip": "11780",
                                              "stockingCode": "Y",
                                              "status": "Active",
                                              "tax":
                                                {
                                                  "taxQualifierCodes":
                                                    [
                                                      {
                                                        "locationTypeCode": "ST",
                                                        "locationCode": "NY",
                                                      },
                                                      {
                                                        "locationTypeCode": "CT",
                                                        "locationCode": "SU",
                                                      },
                                                    ],
                                                },
                                            },
                                          ],
                                        "lastUpdatedTimeStamp": "2021-03-01T13:23:33.991",
                                      },
                                      {
                                        "organizationCode": "LW",
                                        "branchNumber": "7214",
                                        "erpSystem": "Woodstock",
                                        "regionNumber": "73",
                                        "districtNumber": "7817",
                                        "brandName": "L&W Supply",
                                        "storefront": "lw",
                                        "branchName": "L&W Supply",
                                        "addressType": "Office",
                                        "addressLine1": "657 W 8th Ave",
                                        "city": "Midvale",
                                        "state": "UT",
                                        "zip": "84047",
                                        "timeZone": "America/Denver",
                                        "workPhone": "8013049500",
                                        "faxPhone": "8013049600",
                                        "email": "scott.christensen@lwsupply.com",
                                        "status": "Active",
                                        "managerUserId": "040271",
                                        "manager": "Christensen, Scott",
                                        "managerFirstName": "Scott",
                                        "managerLastName": "Christensen",
                                        "managerEmail": "scott.christensen@lwsupply.com",
                                        "managerTitle": "L&W Branch Manager",
                                        "managingPartner": false,
                                        "warehouses": [],
                                        "lastUpdatedTimeStamp": "2021-03-01T13:23:33.991",
                                      },
                                      {
                                        "organizationCode": "ABC",
                                        "branchNumber": "503",
                                        "divisionCode": "ABC",
                                        "erpSystem": "ABCPOS",
                                        "regionNumber": "724",
                                        "districtNumber": "866",
                                        "MBACode": "741",
                                        "brandName": "ABC Supply",
                                        "storefront": "abc",
                                        "branchName": "ABC Supply Company",
                                        "addressType": "Office",
                                        "addressLine1": "6747 Belvedere Rd, Ste 115",
                                        "city": "West Palm Beach",
                                        "state": "FL",
                                        "zip": "33413-1029",
                                        "longitude": -80.151659,
                                        "latitude": 26.692658,
                                        "timeZone": "America/New_York",
                                        "workPhone": "5618320505",
                                        "faxPhone": "5618320264",
                                        "email": "adam.hamby@abcsupply.com",
                                        "status": "Active",
                                        "managerUserId": "017402",
                                        "manager": "Hamby, Adam M",
                                        "managerFirstName": "Adam",
                                        "managerLastName": "Hamby",
                                        "managerEmail": "adam.hamby@abcsupply.com",
                                        "managerTitle": "ABC Branch Manager",
                                        "managingPartner": false,
                                        "hours":
                                          [
                                            {
                                              "type": "Branch Hours",
                                              "days": "Mon - Fri",
                                              "open": "07:00",
                                              "close": "16:00",
                                            },
                                          ],
                                        "warehouses":
                                          [
                                            {
                                              "warehouseCode": "D503",
                                              "warehouseName": "ABC #503 DIRECT W PALM BEA",
                                              "addressLine1": "PROVIDE DELIVERY ADDRESS",
                                              "city": "PROVIDE CITY",
                                              "state": "FL",
                                              "zip": "33405",
                                              "stockingCode": "Y",
                                              "status": "Active",
                                              "tax":
                                                {
                                                  "taxQualifierCodes":
                                                    [
                                                      {
                                                        "locationTypeCode": "ST",
                                                        "locationCode": "FL",
                                                      },
                                                      {
                                                        "locationTypeCode": "CT",
                                                        "locationCode": "PB",
                                                      },
                                                    ],
                                                },
                                            },
                                            {
                                              "warehouseCode": "DB503",
                                              "warehouseName": "ABC 503 DIRECT TILE WEST PALM",
                                              "addressLine1": "PROVIDE DELIVERY ADDRESS",
                                              "city": "PROVIDE CITY",
                                              "state": "FL",
                                              "zip": "33405",
                                              "stockingCode": "Y",
                                              "status": "Active",
                                              "tax":
                                                {
                                                  "taxQualifierCodes":
                                                    [
                                                      {
                                                        "locationTypeCode": "ST",
                                                        "locationCode": "FL",
                                                      },
                                                      {
                                                        "locationTypeCode": "CT",
                                                        "locationCode": "PB",
                                                      },
                                                    ],
                                                },
                                            },
                                            {
                                              "warehouseCode": "503",
                                              "warehouseName": "ABC #503 WEST PALM BEACH",
                                              "addressLine1": "6747 BELVEDERE RD, STE 115",
                                              "city": "WEST PALM BEACH",
                                              "state": "FL",
                                              "zip": "33413",
                                              "stockingCode": "Y",
                                              "status": "Active",
                                              "tax":
                                                {
                                                  "taxQualifierCodes":
                                                    [
                                                      {
                                                        "locationTypeCode": "ST",
                                                        "locationCode": "FL",
                                                      },
                                                      {
                                                        "locationTypeCode": "CT",
                                                        "locationCode": "PB",
                                                      },
                                                    ],
                                                },
                                            },
                                          ],
                                        "lastUpdatedTimeStamp": "2021-03-01T13:23:33.991",
                                      },
                                      {
                                        "organizationCode": "ABC",
                                        "branchNumber": "342",
                                        "divisionCode": "ABC",
                                        "erpSystem": "ABCPOS",
                                        "regionNumber": "722",
                                        "districtNumber": "837",
                                        "MBACode": "737",
                                        "brandName": "ABC Supply",
                                        "storefront": "abc",
                                        "branchName": "ABC Supply Company",
                                        "addressType": "Office",
                                        "addressLine1": "3283 E Township Line Rd",
                                        "city": "Souderton",
                                        "state": "PA",
                                        "zip": "18964-1983",
                                        "longitude": -75.2999,
                                        "latitude": 40.3077,
                                        "timeZone": "America/New_York",
                                        "workPhone": "2157232778",
                                        "faxPhone": "2157237766",
                                        "email": "david.desiderio@abcsupply.com",
                                        "status": "Active",
                                        "managerUserId": "024932",
                                        "manager": "Desiderio, Dave M",
                                        "managerFirstName": "Dave",
                                        "managerLastName": "Desiderio",
                                        "managerEmail": "david.desiderio@abcsupply.com",
                                        "managerTitle": "ABC Branch Manager",
                                        "managingPartner": false,
                                        "hours":
                                          [
                                            {
                                              "type": "Branch Hours",
                                              "days": "Mon - Fri",
                                              "open": "07:00",
                                              "close": "15:30",
                                            },
                                            {
                                              "type": "Off-season Hours",
                                              "days": "Mon - Fri",
                                              "open": "07:00",
                                              "close": "15:30",
                                            },
                                          ],
                                        "warehouses":
                                          [
                                            {
                                              "warehouseCode": "D342",
                                              "warehouseName": "ABC #342 DIRECT SOUDERTON",
                                              "addressLine1": "PROVIDE DELIVERY ADDRESS",
                                              "city": "PROVIDE CITY",
                                              "state": "PA",
                                              "zip": "18964",
                                              "stockingCode": "Y",
                                              "status": "Active",
                                              "tax":
                                                {
                                                  "taxQualifierCodes":
                                                    [
                                                      {
                                                        "locationTypeCode": "ST",
                                                        "locationCode": "PA",
                                                      },
                                                      {
                                                        "locationTypeCode": "CT",
                                                        "locationCode": "99",
                                                      },
                                                    ],
                                                },
                                            },
                                            {
                                              "warehouseCode": "B342",
                                              "warehouseName": "ABC #B342 SOUDERTON",
                                              "addressLine1": "4219 BETHLEHEM PIKE",
                                              "city": "TELFORD",
                                              "state": "PA",
                                              "zip": "18969",
                                              "stockingCode": "Y",
                                              "status": "Active",
                                              "tax":
                                                {
                                                  "taxQualifierCodes":
                                                    [
                                                      {
                                                        "locationTypeCode": "ST",
                                                        "locationCode": "PA",
                                                      },
                                                      {
                                                        "locationTypeCode": "CT",
                                                        "locationCode": "99",
                                                      },
                                                    ],
                                                },
                                            },
                                            {
                                              "warehouseCode": "342",
                                              "warehouseName": "ABC #342 SOUDERTON",
                                              "addressLine1": "3283 TOWNSHIP LINE RD.",
                                              "city": "SOUDERTON",
                                              "state": "PA",
                                              "zip": "18964",
                                              "stockingCode": "Y",
                                              "status": "Active",
                                              "tax":
                                                {
                                                  "taxQualifierCodes":
                                                    [
                                                      {
                                                        "locationTypeCode": "ST",
                                                        "locationCode": "PA",
                                                      },
                                                      {
                                                        "locationTypeCode": "CT",
                                                        "locationCode": "99",
                                                      },
                                                    ],
                                                },
                                            },
                                          ],
                                        "lastUpdatedTimeStamp": "2021-03-01T13:23:33.991",
                                      },
                                      {
                                        "organizationCode": "ABC",
                                        "branchNumber": "012",
                                        "divisionCode": "ABC",
                                        "erpSystem": "ABCPOS",
                                        "regionNumber": "723",
                                        "districtNumber": "861",
                                        "MBACode": "739",
                                        "brandName": "ABC Supply",
                                        "storefront": "abc",
                                        "branchName": "ABC Supply Company",
                                        "addressType": "Office",
                                        "addressLine1": "3000 W Kentucky Ave",
                                        "city": "Midland",
                                        "state": "TX",
                                        "zip": "79701-7123",
                                        "longitude": -102.105,
                                        "latitude": 31.9824,
                                        "timeZone": "America/Chicago",
                                        "workPhone": "4326995464",
                                        "faxPhone": "4326995467",
                                        "email": "mike.ford@abcsupply.com",
                                        "status": "Active",
                                        "managerUserId": "5277",
                                        "manager": "Ford, Michael D",
                                        "managerFirstName": "Michael",
                                        "managerLastName": "Ford",
                                        "managerEmail": "mike.ford@abcsupply.com",
                                        "managerTitle": "ABC Branch Manager",
                                        "managingPartner": true,
                                        "hours":
                                          [
                                            {
                                              "type": "Branch Hours",
                                              "days": "Mon - Fri",
                                              "open": "07:30",
                                              "close": "16:30",
                                            },
                                            {
                                              "type": "Off-season Hours",
                                              "days": "Mon - Fri",
                                              "open": "07:30",
                                              "close": "16:30",
                                            },
                                          ],
                                        "warehouses":
                                          [
                                            {
                                              "warehouseCode": "D12",
                                              "warehouseName": "ABC #012 DIRECT MIDLAND",
                                              "addressLine1": "PROVIDE DELIVERY ADDRESS",
                                              "city": "PROVIDE CITY",
                                              "state": "TX",
                                              "zip": "79701",
                                              "stockingCode": "Y",
                                              "status": "Active",
                                              "tax":
                                                {
                                                  "taxQualifierCodes":
                                                    [
                                                      {
                                                        "locationTypeCode": "ST",
                                                        "locationCode": "TX",
                                                      },
                                                      {
                                                        "locationTypeCode": "CT",
                                                        "locationCode": "M1",
                                                      },
                                                    ],
                                                },
                                            },
                                            {
                                              "warehouseCode": "12",
                                              "warehouseName": "ABC #012 MIDLAND",
                                              "addressLine1": "3000 W. KENTUCKY",
                                              "city": "MIDLAND",
                                              "state": "TX",
                                              "zip": "79701",
                                              "stockingCode": "Y",
                                              "status": "Active",
                                              "tax":
                                                {
                                                  "taxQualifierCodes":
                                                    [
                                                      {
                                                        "locationTypeCode": "ST",
                                                        "locationCode": "TX",
                                                      },
                                                      {
                                                        "locationTypeCode": "CT",
                                                        "locationCode": "M1",
                                                      },
                                                    ],
                                                },
                                            },
                                          ],
                                        "lastUpdatedTimeStamp": "2021-03-01T13:23:33.991",
                                      },
                                      {
                                        "organizationCode": "LW",
                                        "branchNumber": "7233",
                                        "erpSystem": "Woodstock",
                                        "regionNumber": "71",
                                        "districtNumber": "7804",
                                        "brandName": "L&W Supply",
                                        "storefront": "lw",
                                        "branchName": "L&W Supply",
                                        "addressType": "Office",
                                        "addressLine1": "2155 W Nordale Dr",
                                        "city": "Appleton",
                                        "state": "WI",
                                        "zip": "54914",
                                        "timeZone": "America/Chicago",
                                        "workPhone": "9207397477",
                                        "faxPhone": "9207392934",
                                        "email": "tara.nadolny@lwsupply.com",
                                        "status": "Active",
                                        "managerUserId": "051068",
                                        "manager": "Nadolny, Tara",
                                        "managerFirstName": "Tara",
                                        "managerLastName": "Nadolny",
                                        "managerEmail": "tara.nadolny@lwsupply.com",
                                        "managerTitle": "L&W Branch Manager",
                                        "managingPartner": false,
                                        "warehouses": [],
                                        "lastUpdatedTimeStamp": "2021-03-01T13:23:33.991",
                                      },
                                    ],
                                },
                              "schema":
                                {
                                  "$ref": "#/components/schemas/BranchesCollectionResponse",
                                },
                            },
                        },
                    },
                  "400":
                    {
                      "$ref": "#/components/responses/trait_common-errors_400",
                    },
                  "404":
                    {
                      "$ref": "#/components/responses/trait_common-errors_404",
                    },
                  "500":
                    {
                      "$ref": "#/components/responses/trait_common-errors_500",
                    },
                },
              "description": "The /branches resource allows you to retrieve information about ABC branches. You can filter your result using the several parameters such as storefront, branch number, district number, region number, proximity branch, radius distance from longitude and latitude and user id of the associate with the specific branch responsibilities.",
              "operationId": "GET_branches",
              "summary": "Returns List of Branches",
              "parameters":
                [
                  {
                    "$ref": "#/components/parameters/trait_client-id-required_client_id",
                  },
                  {
                    "$ref": "#/components/parameters/trait_client-id-required_client_secret",
                  },
                  {
                    "name": "organizationCode",
                    "in": "query",
                    "description": "Indicates organization",
                    "schema":
                      { "type": "array", "items": { "type": "string" } },
                  },
                  {
                    "name": "branchNumber",
                    "in": "query",
                    "description": "Either this or branchNumbers (with s) is required.  If both are passed, branchNumber is ignored.",
                    "schema":
                      { "type": "array", "items": { "type": "string" } },
                  },
                  {
                    "name": "branchNumbers",
                    "in": "query",
                    "description": "List of branches delimited by comma (string CSV).  Either this or branchNumber is required.  If both are passed, branchNumber is ignored.",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "districtNumber",
                    "in": "query",
                    "description": "Code identifying the district",
                    "schema":
                      { "type": "array", "items": { "type": "string" } },
                  },
                  {
                    "name": "regionNumber",
                    "in": "query",
                    "description": "Code identifying the region",
                    "schema":
                      { "type": "array", "items": { "type": "string" } },
                  },
                  {
                    "name": "state",
                    "in": "query",
                    "description": "Code identifying the state",
                    "schema":
                      { "type": "array", "items": { "type": "string" } },
                  },
                  {
                    "name": "openForBusiness",
                    "in": "query",
                    "description": "Indication if branch is open to do business",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "typeCode",
                    "in": "query",
                    "description": "Indicates type of branch",
                    "schema":
                      { "type": "array", "items": { "type": "string" } },
                  },
                  {
                    "name": "latitude",
                    "in": "query",
                    "description": "Latitude of branch",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "longitude",
                    "in": "query",
                    "description": "Longitude of branch",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "radius",
                    "in": "query",
                    "description": "Radius search.  Use for searching branches from latitude and longitude",
                    "schema": { "type": "number" },
                  },
                  {
                    "name": "proximityBranch",
                    "in": "query",
                    "description": "Code identifying the proximity",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "userId",
                    "in": "query",
                    "description": "Network user name as administered in POS which may be different than Active Directory or Otka. Use to filter branches based on user's responsibilities",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "select",
                    "in": "query",
                    "description": "If this is not passed or if value is 'default', warehouses collections will be included in the return payload.  Also hours collections will be included unless excludeHours=true is passed.",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "embed",
                    "in": "query",
                    "description": "If select query parameter is base (select=base), additional collection of objects will be included in the return payload.  Example embed=warehouses&embed=hours will include warehouses and hours in the payload",
                    "schema":
                      {
                        "oneOf":
                          [{ "type": "array", "items": { "type": "string" } }],
                        "type": "string",
                      },
                  },
                  {
                    "name": "excludeHours",
                    "in": "query",
                    "description": "true if hours are not desired in the payload. Default is false",
                    "schema": { "type": "boolean" },
                  },
                  {
                    "$ref": "#/components/parameters/trait_storefront-queryparams_storefront",
                  },
                  {
                    "$ref": "#/components/parameters/trait_pagination-queryparams_page",
                  },
                  {
                    "$ref": "#/components/parameters/trait_pagination-queryparams_pageSize",
                  },
                ],
            },
        },
      "/branches/{branchNumber}":
        {
          "get":
            {
              "tags": ["Geography"],
              "responses":
                {
                  "200":
                    {
                      "description": "",
                      "content":
                        {
                          "application/json":
                            {
                              "example":
                                {
                                  "organizationCode": "ABC",
                                  "branchNumber": "332",
                                  "divisionCode": "ABC",
                                  "erpSystem": "ABCPOS",
                                  "regionNumber": "722",
                                  "districtNumber": "843",
                                  "MBACode": "737",
                                  "brandName": "ABC Supply",
                                  "storefront": "abc",
                                  "branchName": "ABC Supply Company",
                                  "addressType": "Office",
                                  "addressLine1": "3 Floridian Dr",
                                  "city": "Erlanger",
                                  "state": "KY",
                                  "zip": "41018-1330",
                                  "longitude": -84.585,
                                  "latitude": 39.0401,
                                  "timeZone": "America/New_York",
                                  "workPhone": "8593414500",
                                  "faxPhone": "8593414541",
                                  "status": "Active",
                                  "managerUserId": "015975",
                                  "manager": "Conrad, Anthony S",
                                  "managerFirstName": "Anthony",
                                  "managerLastName": "Conrad",
                                  "hours":
                                    [
                                      {
                                        "type": "Branch Hours",
                                        "days": "Mon - Fri",
                                        "open": "07:30",
                                        "close": "16:30",
                                      },
                                      {
                                        "type": "Off-season Hours",
                                        "days": "Mon - Fri",
                                        "open": "07:30",
                                        "close": "16:30",
                                      },
                                    ],
                                  "warehouses":
                                    [
                                      {
                                        "warehouseCode": "D12",
                                        "warehouseName": "ABC #012 DIRECT MIDLAND",
                                        "addressLine1": "PROVIDE DELIVERY ADDRESS",
                                        "city": "PROVIDE CITY",
                                        "state": "TX",
[...]
